<form class="create-new-event" role="form" ng-submit="EventMap.joinEvent(EventMap.activeEventAlert)">
    <!-- Name of Event -->
    <div class="form-group">
        <label>Name of Event</label>
        <input type="string"
               class="form-control"
               placeholder="Name of Event"
               readonly="true"
               ng-model="EventMap.activeEventAlert.value.name">
    </div>

    <!-- Length of Time -->
    <div class="form-group">
        <label>At What Time</label>
        <input type="string"
               class="form-control"
               placeholder="Time"
               readonly="true"
               bs-timepicker
               ng-model="EventMap.activeEventAlert.value.date"
               data-minute-step="1">
    </div>

    <!-- Number of People -->
    <div class="form-group">
        <label>Number of People Needed</label>
        <input type="number"
               class="form-control"
               placeholder="Number of People"
               readonly="true"
               ng-model="EventMap.activeEventAlert.value.numberOfPeople">
    </div>

    <!-- Distance From Event -->
    <div class="form-group">
        <label>Distance From Event</label>
        <input type="text"
               class="form-control"
               placeholder="Distance From Event"
               readonly="true"
               ng-model="EventMap.activeEventAlert.distance">
    </div>

    <!-- Join Event -->
    <button type="submit" class="btn btn-primary btn-block">Join Event</button>
</form>
