@import '_variables.scss'; // Bootstrap and Open Sans Variables
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss'; // Bootstrap
@import 'open-sans-fontface/open-sans.scss'; // Open Sans
@import '_block-grid.scss'; // Bootstrap Block Grid Extension
@import '_animations.scss'; // Animations
@import '_aside.scss'; // Aside
@import '_card.scss'; // Card
@import '_modal.scss'; // Modal
@import '_waiting.scss'; // Waiting Mask

// HTML and Body
html, body {
  height: 100%;
  background: darken(#789, 40%);
}

// Form
form {
  padding-top: 1.5em;
}

// Application Navigation Menu
.navigation-menu {
  @extend .navbar-fixed-top;
}

.navigation-menu-inner {
}

.navigation-menu-header {
  @extend .navbar-header;
}

.navigation-menu-icon {
  float: left;
  height: $navbar-icon-height;
  margin-right: 8px;
}

.navigation-menu-brand {
  @extend .navbar-brand;
  font-family: $font-family-sans-serif-complement;
  font-weight: 800;
  letter-spacing: 0.125em;
}

.navigation-menu-navigation-wrapper {
  @extend .navbar-collapse;
  @extend .collapse;
}

.navigation-menu-navigation {
  @extend .navbar-right;
  margin-right: 0 !important;
}

// Application Content
.content {
  height: 100%;
  padding-top: $navbar-height;
}

// Gather Components
@import './components/map/main/main.scss';
