// Card List
.card-list {
  @include block-grid(1);
  @media (min-width: $screen-sm) { @include block-grid(2); }
  @media (min-width: $screen-md) { @include block-grid(3); }
  @extend .list-unstyled;
  height: 100%;
  margin: 0;
  padding: 12px 1px;
  overflow: auto;
}

// Card
.card {
  @extend .panel;
  @extend .panel-default;
  background: #e5e5e5;
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 1px 1px rgba(0,0,0,0.2);
  color: #888;
  margin: 0;
  min-height: 8em;
  padding: 0.75em 1em;
  position: relative;

  // Hover State
  &:hover {
    background: #fff;
    color: $gray-dark;
  }

  // Children
  & > * {
    margin: 0;
  }
}